.even {
    background-color: rgba(0,0,0,0.4);
}
.weatherItem {
    padding: 0.8em;
    text-align: right;
    color: #fff;
    float: left;
    width: 15%;
    margin-right: 10px;
}
.weatherDesc, .weatherCity, .weatherForecastDay {
    font-weight: 600;
}
.weatherCity {
    text-transform: uppercase;
}
.weatherTemp {
    font-size: 28px;
    font-weight: 900;
}
.weatherDesc {
    margin-bottom: 0.4em;
}
.weatherRange, .weatherWind, .weatherLink, .weatherForecastItem {
    font-size: 0.8em;
}
.weatherLink, .weatherForecastItem {
    margin-top: 0.5em;
    text-align: left;
}
